.breadcrumbHomeIcon {
  position: relative;
  top: 1px;
  vertical-align: top;
  height: 1.1rem;
  width: 1.1rem;
}

.defunctNotice {
  margin-right: 0.4rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--ifm-color-danger);
}
